body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: normal;
    justify-content: normal;
    align-items: center;
}

.header-bg {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: normal;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin: 0px;
    border: 0px solid #000;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-bg {
    display: flex;
    padding: 0px;
    margin: 5px 0;
    border: 0px solid #000;
}

.footer-copyright {
    font-size: x-small;
}

.container {
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, #ededed 0%, #f4f4f4 100%);
    padding: 5px 0;
}

.form-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 265px;
    height: 170px;
    align-content: normal;
    justify-content: normal;
    align-items: normal;
    border: 0px solid #000;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    font-size: smaller;
}

.field {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: normal;
    justify-content: space-between;
    align-items: center;
    border: 0px solid #000;
}
.button-field {
    display: flex;
    flex-direction : column;
    align-items: center;
    margin: 10px auto 0;
}

.textarea-field {
    resize: none;
}